<!-- <mat-toolbar fxLayout="row" fxLayoutAlign="start center" color="primary" class="mat-elevation-z8">
  <h1>
    Angular Monaco Editor library demo
  </h1>
</mat-toolbar> -->

<div fxLayout="column" class="editor-container">
    <!-- <div class="editor-container"> -->
    
          <form fxFlex="100" [formGroup]="reactiveForm" >
            <ngx-monaco-editor
              formControlName="code"
              [options]="mergeOptions({ language: 'json' })"
              ngDefaultControl
            >
            </ngx-monaco-editor>
            <div class="action-controller">
    
              <div>
                <button mat-raised-button color="primary" (click)="resetForm()">Reset</button>
              </div>
      
              <div> 
              <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">
                Submit
              </button>
            </div>
            </div>
          </form>
    </div>
    
      <!-- </div> -->
      