.example-spacer {
    flex: 1 1 auto;
  }

  .socialBrand {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 14px 10px 6px 10px;
  }

  .mat-icon {
    font-size: 30px;
    height: 30px ;
    width: 30px;
  }

  .menu-items{
    margin-top: 95px;
    z-index: 5;

  }

 
