<div class="tool-panel-container">

    <!-- <mat-accordion [ngStyle] = "{'height':'400px'}">
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"  >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
            <mat-panel-description>
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-data-editor ></app-data-editor>
        </mat-expansion-panel>
      </mat-accordion> -->

      <app-data-editor (geojsonData)="onGeojsonData($event)" [inputData]="geoJson"></app-data-editor>

    </div>
