<div id="map" class="map demo-area"></div>

<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let card of cards | async">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>{{ card.title }}</mat-card-title>
          <mat-card-subtitle>{{ card.title }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image src="{{ card.logoUrl }}" alt="{{ card.title }}" />

          <!-- <p>This card has divider and indeterminate progress as footer</p> -->
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <a
            href="{{ card.siteUrl }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            <button mat-button>
              <mat-icon>link</mat-icon>
            </button>
          </a>

          <button mat-button>
            <mat-icon>video_library</mat-icon>
            <!-- <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon> -->
          </button>
          <!-- <button mat-button><mat-icon>subscriptions</mat-icon></button> -->
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>

      <!-- <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card> -->
    </mat-grid-tile>
  </mat-grid-list>
</div>
