.grid-container {
  margin: 10px;
}

.dashboard-card {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.map {
  height: calc(20vh);
  width: 100%;
}

// a {color:#FF0000;}         /* Unvisited link  */
// a:visited {color:#00FF00;} /* Visited link    */
// a:hover {color:#FF00FF;}   /* Mouse over link */
// a:active {color:#0000FF;}  /* Selected link   */

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
