.map {
  height: calc(100vh - 64px);
  width: 100%;
  // width: auto;
  // float: right;
}

// .toolkit{
//   z-index: 10;
//   position: relative;

// }

.map-container {
  display: flex;
  flex-direction: row;
}

.sidepanel {
  // background: #acdae0;
  background: transparent;
  // width: 20%;
  // height: calc(100vh - 100px);
  float: right;
  // z-index: 11;
  // margin-top: calc(-100vh + 64px);
}
